@charset "UTF-8";
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box; }

.contenedor {
  position: relative; }

.logo {
  padding: 10px; }

body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: white; }

a {
  text-decoration: none;
  color: white; }

.logo {
  padding: 10px; }

.home {
  width: 700px;
  height: 500px;
  margin: auto; }

.carousel {
  width: 700px;
  height: 500px;
  margin: auto; }

.data {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  height: 100px;
  margin-top: 50px; }

.paises {
  width: 200px;
  height: 200px;
  margin: 10px; }

.proyectos {
  width: 200px;
  height: 200px;
  margin: 10px; }

.empresas {
  width: 200px;
  height: 200px;
  margin: 10px; }

.nuestrosClientes {
  margin-top: 80px; }

.listadoClientes {
  margin: 30px;
  font-size: 15px;
  display: grid;
  grid-template-columns: repeat(6, 200px);
  grid-template-rows: 250px 100px 180px;
  justify-content: space-evenly; }

.clientes {
  width: 200px;
  height: 200px;
  margin: 10px;
  padding: 15px; }

.formularioContacto {
  text-align: center;
  padding: 30px; }

.botonContactenos {
  text-align: center;
  padding: 50px; }

/* Aplicar SCSS con programación */
.bg-black {
  background: yellow; }

.bg-blue {
  background: #0099cc; }

.bg-green {
  background: #2ebc78; }

footer {
  padding: 10px;
  height: 200px;
  background-color: #003F66; }
  footer .contenedorFooter {
    position: relative;
    height: 180px;
    width: 100%; }
  footer .enlacesFooter {
    position: absolute;
    height: 70%;
    width: 50%; }
  footer .enlacesFooter a {
    text-decoration: none;
    color: white; }
  footer .redesSocialesFooter {
    position: absolute;
    left: 50%;
    height: 70%;
    width: 50%;
    color: white; }
  footer .copyrightFooter {
    position: absolute;
    height: 30%;
    top: 70%;
    width: 100%;
    margin: auto;
    padding: 20px;
    text-align: center;
    color: white; }
